section#contact {
    background-color: #444;
    background-position: center;
    background-repeat: no-repeat;
    .section-heading {
        color: #fff;
    }
    .form-group {
        margin-bottom: 1.5rem;
        input,
        textarea {
            padding: 20px;
        }
        input.form-control {
            height: auto;
        }
        textarea.form-control {
            height: 15.5rem;
        }
    }
    .form-control:focus {
        border-color: $color-accent-main;
        box-shadow: none;
    }
    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder {
        text-transform: uppercase;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        color: #bbb;
    }
    .is-invalid {
        -webkit-box-shadow: inset 0px 0px 0px 3px #ff5600;
        -moz-box-shadow: inset 0px 0px 0px 3px #ff5600;
        box-shadow: inset 0px 0px 0px 3px #ff5600;
        border-color: #fff;
    }
    a#PoweredByLink {
        height: 0 !important;
        display: block;
        max-height: 0 !important;
        overflow: hidden;
    }
    img#formmail {
        height: 1.75rem;
    }
}
