.colors {
    div:nth-child(1) {
        color: #7dc431;
    }
    div:nth-child(2) {
        color: #E8BA1E;
    }
    div:nth-child(3) {
        color: #FF5D14;
    }
    div:nth-child(4) {
        color: #853876;
    }
    div:nth-child(5) {
        color: #877EFF;
    }
    div:nth-child(6) {
        color: #458f7c;
    }
}
