section.single-page-container {
    margin-top: 160px;
    flex-grow: 1;
}

.footer-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    &>div {
        flex-grow: 1;
    }
}
