/* Variables */
$color-accent-main: #a41109;
$color-accent-main-hover: #c72809;
$color-accent-main-dark: #520d0d;
$color-text-main: #333;
$color-text-disabled: #777;
$color-text-invert: #eee;

$screen-small: 768px;
$screen-medium: 992px;