/* Variables */

$color-accent-main: #e56823;
$color-accent-main-hover: #e14f1a;
$color-accent-main-dark: #8f380a;
$color-accent-main-desaturated: #562e12;
$color-text-main: #333;
$color-text-header: #111;
$color-text-disabled: #777;
$color-text-invert: #eee;
