@import "./../../node_modules/bootstrap/scss/bootstrap";
@import "_variables";
@import "_typography";
@import "_nav";
@import "_portfolio";

body {
  color: $color-accent-main;
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  webkit-tap-highlight-color: $color-accent-main;
}

.container {
  width: 100%;
}
